<?xml version="1.0"?>
<!--
/**
 * Default configuration values. Every key here is exposed in the admin
 * Stores > Configuration > Etechflow Blog screen (Phase 3, system.xml) with a
 * short "how to use" hint under each field.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_blog>
            <general>
                <enabled>1</enabled>
                <route>blog</route>
                <title>Blog</title>
                <posts_per_page>9</posts_per_page>
                <show_short_content>1</show_short_content>
                <short_content_limit>200</short_content_limit>
                <show_in_top_menu>1</show_in_top_menu>
                <top_menu_text>Blog</top_menu_text>
            </general>
            <design>
                <theme>default</theme>
                <featured_post>1</featured_post>
                <grid_columns>3</grid_columns>
            </design>
            <post_view>
                <breadcrumbs>1</breadcrumbs>
                <show_featured_image>1</show_featured_image>
                <reading_time>1</reading_time>
                <reading_progress_bar>1</reading_progress_bar>
                <views_count>1</views_count>
                <table_of_contents>1</table_of_contents>
                <author_box>1</author_box>
                <post_tags>1</post_tags>
                <next_prev>1</next_prev>
                <gallery>1</gallery>
            </post_view>
            <related_posts>
                <enabled>1</enabled>
                <number>4</number>
            </related_posts>
            <related_products>
                <enabled>1</enabled>
                <number>4</number>
            </related_products>
            <social_share>
                <enabled>1</enabled>
                <networks>facebook,twitter,linkedin,whatsapp,pinterest,email</networks>
            </social_share>
            <comments>
                <enabled>1</enabled>
                <type>default</type>
                <moderation>1</moderation>
                <allow_guest>1</allow_guest>
                <nested>1</nested>
                <recaptcha>0</recaptcha>
                <per_page>10</per_page>
            </comments>
            <sidebar>
                <enabled>1</enabled>
                <search>1</search>
                <categories>1</categories>
                <recent_posts>1</recent_posts>
                <recent_posts_count>5</recent_posts_count>
                <popular_posts>1</popular_posts>
                <popular_posts_count>5</popular_posts_count>
                <featured_posts>0</featured_posts>
                <archive>1</archive>
                <tag_cloud>1</tag_cloud>
                <rss>1</rss>
            </sidebar>
            <seo>
                <use_canonical>1</use_canonical>
                <json_ld>1</json_ld>
                <opengraph>1</opengraph>
                <twitter_cards>1</twitter_cards>
                <breadcrumbs_schema>1</breadcrumbs_schema>
                <include_in_sitemap>1</include_in_sitemap>
            </seo>
            <rss>
                <enabled>1</enabled>
                <posts_limit>20</posts_limit>
            </rss>
            <product_page>
                <related_posts>1</related_posts>
                <related_posts_count>3</related_posts_count>
            </product_page>
            <!--
                Performance (lazy-load) and Responsive Banners are now always on
                (no admin toggle). Cloudinary was removed entirely. See
                ViewModel\Config::lazyImages() which is hardcoded to true.
            -->
        </etechflow_blog>
    </default>
</config>
