<?xml version="1.0"?>
<!--
/**
 * Admin license gate: on every blog admin action, redirect to the License
 * gate page when the module is unlicensed. The AdminGate observer exempts the
 * License controllers so re-licensing stays possible.
 *
 * Update notice: on the Blog Posts page, surface an admin bell notification
 * when a newer module version is published to the eTechFlow Composer repo.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_etechflow_blog">
        <observer name="etechflow_blog_admin_gate" instance="Etechflow\Blog\Observer\AdminGate"/>
    </event>
    <event name="controller_action_predispatch_etechflow_blog_post_index">
        <observer name="etechflow_blog_update_notification" instance="Etechflow\Blog\Observer\AddUpdateNotification"/>
    </event>
</config>
